<footer class="site-foot">
  <div class="site-foot__logo">
    <a href="/">
      <img 
        src="/images/logo.png" 
        alt="Logo" 
        class="site-foot__logo-img"
        width="280"
        height="280"
      />
    </a>
  </div><!-- .site-foot__logo -->
</footer>

<style lang="scss">
  .site-foot {
    @include flex(row, center, center);

    position: relative;
    z-index: 3;

    padding: 1.5rem;

    border-top: 1px solid color(secondary);

    @include mq(phone) {
      padding: 1rem;
    }

    &__logo {
      svg,
      &-img {
        display: block;
        width: 3rem;
        height: auto;

        @include mq(phone) {
          width: 1.875rem;
          height: auto;
        }
      }
    }
  }
</style>
